@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #356de2;
  --dark-grey: #6b7280;
  --off-white: #f3f4f6;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px auto;
  max-width: 85%;
  width: 100%;
}

hr {
  margin: 2rem 0;
}

/* containers */

.container {
  padding: 0 1rem;
}

.container-center {
  max-width: 900px;
  width: 100%-style;
  margin: auto;
}